{% extends "base.html.twig" %}

{% block title %}Create new customer{% endblock %}

{% block content %}
    <h2>Add new customer</h2>
    <form method="post">
        {% include 'parts/customer_form_fields.html.twig' %}
    </form>
{% endblock %}
