{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        #edit-form {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}Customer overview{% endblock %}

{% block content %}
    {% include 'parts/customer_properties.html.twig' with {'customer' : customer} %}
    <button id="edit-button">Edit</button>

    <div id="edit-form" class="bordered-box">
        <form method="post" action="{{ path('customer_edit', {'id': customer.id}) }}">
            {% include 'parts/customer_form_fields.html.twig' %}
        </form>
    </div>
    <hr>
    <a href="{{ path('loan-check-availability', {customerId: customer.id}) }}">Check loan availability</a>
    <script>
        var editButton = document.getElementById('edit-button');
        var editFormDiv = document.getElementById('edit-form');
        editFormDiv.style.display = 'none';
        editButton.addEventListener('click', () => {
            if (editFormDiv.style.display == 'none') {
                editFormDiv.style.display = 'block';
            } else {
                editFormDiv.style.display = 'none';
            }

        });
    </script>
{% endblock %}
