{% extends "base.html.twig" %}

{% block title %}Customers list{% endblock %}

{% block content %}
    <div>Customers list</div>
    <a href="/customer/create-form"><button>Add new customer</button></a>
{% endblock %}
