{% extends "base.html.twig" %}

{% block title %}Create new customer{% endblock %}

{% block content %}
    <h2>Add new customer</h2>
    <form method="post">
        <label>First name
            <input type="text" name="firstName" required="required">
        </label>
        <br>
        <label>Last name
            <input type="text" name="lastName" required="required">
        </label>
        <br>
        <label>Age
            <input type="number" name="age" required="required">
        </label>
        <br>
        <label>SSN
            <input type="text" name="ssn" required="required">
        </label>
        <br>
        <br>
        <label>State
            <select name="state" required="required">
                {% for key, name in states %}
                    <option value="{{ key }}">{{ name }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        <label>City
            <input type="text" name="city" required="required">
        </label>
        <br>
        <label>Address
            <input type="text" name="address" required="required">
        </label>
        <br>
        <label>ZIP
            <input type="text" name="zip" required="required">
        </label>
        <br>
        <br>
        <label>FICO
            <input type="number" name="fico" required="required">
        </label>
        <label>Monthly income
            <input type="number" name="income" required="required">
        </label>
        <br>
        <label>Email
            <input type="email" name="email" required="required">
        </label>
        <br>
        <label>Phone
            <input type="tel" name="phoneNumber" required="required">
        </label>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
