{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <p><a href="/customer/list">Customers</a></p>
    <p><a href="/customer/create-form">Create new customer</a></p>
    <p><a href="/product/list">Credit Products</a></p>
    <p><a href="/order/list">Orders</a></p>
{% endblock %}
